.container {
    border: 2px solid black;
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}

#userimg.jpg {
    border-radius: 50%;
    border: 1px solid black;
    width: 100px;
}